@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "nullstyle";

body {
    font-family: 'Roboto', sans-serif !important;
    height: 100vh;
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & h2 {
        text-transform: uppercase;
        padding: 10px;
        color:#fff;
        font-weight: 600;
        margin-bottom: 0;
        transition: background-color 0.4s ease;
        border-radius: 10px;

        &:hover {
            background-color:rgba(0,0,0,0.1);
            cursor: pointer;
        }
    }
    & button {
        border: none;
        background: transparent;
        font-size: 1.5rem;
        color:#fff;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.4s ease;

        &:hover {
            background-color:rgba(0,0,0,0.1);
            cursor: pointer;
        }
    }
}